In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
# Connect to the sakila database
engine = create_engine('sqlite:///../sqlite-sakila.db')

In [3]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [4]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [5]:
# List the tables in the database
Base.classes.keys()

['actor',
 'address',
 'city',
 'country',
 'category',
 'customer',
 'store',
 'staff',
 'film',
 'language',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'payment',
 'rental']

In [6]:
# Assign the actor class to the variable Actor
Actor = Base.classes.actor

In [7]:
# Create a session
session = Session(engine)

In [10]:
# Look at the first row of the actor table
first_row = session.query(Actor).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x173df0a8a20>,
 'last_name': 'GUINESS',
 'actor_id': 1,
 'last_update': datetime.datetime(2019, 4, 11, 18, 11, 48),
 'first_name': 'PENELOPE'}

In [11]:
# 1a. Display the first and last names of all actors from the table actor.
query = session.query(Actor)

for row in query:
    print(row.first_name, row.last_name)

PENELOPE GUINESS
NICK WAHLBERG
ED CHASE
JENNIFER DAVIS
JOHNNY LOLLOBRIGIDA
BETTE NICHOLSON
GRACE MOSTEL
MATTHEW JOHANSSON
JOE SWANK
CHRISTIAN GABLE
ZERO CAGE
KARL BERRY
UMA WOOD
VIVIEN BERGEN
CUBA OLIVIER
FRED COSTNER
HELEN VOIGHT
DAN TORN
BOB FAWCETT
LUCILLE TRACY
KIRSTEN PALTROW
ELVIS MARX
SANDRA KILMER
CAMERON STREEP
KEVIN BLOOM
RIP CRAWFORD
JULIA MCQUEEN
WOODY HOFFMAN
ALEC WAYNE
SANDRA PECK
SISSY SOBIESKI
TIM HACKMAN
MILLA PECK
AUDREY OLIVIER
JUDY DEAN
BURT DUKAKIS
VAL BOLGER
TOM MCKELLEN
GOLDIE BRODY
JOHNNY CAGE
JODIE DEGENERES
TOM MIRANDA
KIRK JOVOVICH
NICK STALLONE
REESE KILMER
PARKER GOLDBERG
JULIA BARRYMORE
FRANCES DAY-LEWIS
ANNE CRONYN
NATALIE HOPKINS
GARY PHOENIX
CARMEN HUNT
MENA TEMPLE
PENELOPE PINKETT
FAY KILMER
DAN HARRIS
JUDE CRUISE
CHRISTIAN AKROYD
DUSTIN TAUTOU
HENRY BERRY
CHRISTIAN NEESON
JAYNE NEESON
CAMERON WRAY
RAY JOHANSSON
ANGELA HUDSON
MARY TANDY
JESSICA BAILEY
RIP WINSLET
KENNETH PALTROW
MICHELLE MCCONAUGHEY
ADAM GRANT
SEAN WILLIAMS
GARY PENN
MILLA KEITEL
BURT POSEY
ANGELINA ASTAIRE
CARY MCCONAUGHEY
GROUCHO SINATRA
MAE HOFFMAN
RALPH CRUZ
SCARLETT DAMON
WOODY JOLIE
BEN WILLIS
JAMES PITT
MINNIE ZELLWEGER
GREG CHAPLIN
SPENCER PECK
KENNETH PESCI
CHARLIZE DENCH
SEAN GUINESS
CHRISTOPHER BERRY
KIRSTEN AKROYD
ELLEN PRESLEY
KENNETH TORN
DARYL WAHLBERG
GENE WILLIS
MEG HAWKE
CHRIS BRIDGES
JIM MOSTEL
SPENCER DEPP
SUSAN DAVIS
WALTER TORN
MATTHEW LEIGH
PENELOPE CRONYN
SIDNEY CROWE
GROUCHO DUNST
GINA DEGENERES
WARREN NOLTE
SYLVESTER DERN
SUSAN DAVIS
CAMERON ZELLWEGER
RUSSELL BACALL
MORGAN HOPKINS
MORGAN MCDORMAND
HARRISON BALE
DAN STREEP
RENEE TRACY
CUBA ALLEN
WARREN JACKMAN
PENELOPE MONROE
LIZA BERGMAN
SALMA NOLTE
JULIANNE DENCH
SCARLETT BENING
ALBERT NOLTE
FRANCES TOMEI
KEVIN GARLAND
CATE MCQUEEN
DARYL CRAWFORD
GRETA KEITEL
JANE JACKMAN
ADAM HOPPER
RICHARD PENN
GENE HOPKINS
RITA REYNOLDS
ED MANSFIELD
MORGAN WILLIAMS
LUCILLE DEE
EWAN GOODING
WHOOPI HURT
CATE HARRIS
JADA RYDER
RIVER DEAN
ANGELA WITHERSPOON
KIM ALLEN
ALBERT JOHANSSON
FAY WINSLET
EMILY DEE
RUSSELL TEMPLE
JAYNE NOLTE
GEOFFREY HESTON
BEN HARRIS
MINNIE KILMER
MERYL GIBSON
IAN TANDY
FAY WOOD
GRETA MALDEN
VIVIEN BASINGER
LAURA BRODY
CHRIS DEPP
HARVEY HOPE
OPRAH KILMER
CHRISTOPHER WEST
HUMPHREY WILLIS
AL GARLAND
NICK DEGENERES
LAURENCE BULLOCK
WILL WILSON
KENNETH HOFFMAN
MENA HOPPER
OLYMPIA PFEIFFER
GROUCHO WILLIAMS
ALAN DREYFUSS
MICHAEL BENING
WILLIAM HACKMAN
JON CHASE
GENE MCKELLEN
LISA MONROE
ED GUINESS
JEFF SILVERSTONE
MATTHEW CARREY
DEBBIE AKROYD
RUSSELL CLOSE
HUMPHREY GARLAND
MICHAEL BOLGER
JULIA ZELLWEGER
RENEE BALL
ROCK DUKAKIS
CUBA BIRCH
AUDREY BAILEY
GREGORY GOODING
JOHN SUVARI
BURT TEMPLE
MERYL ALLEN
JAYNE SILVERSTONE
BELA WALKEN
REESE WEST
MARY KEITEL
JULIA FAWCETT
THORA TEMPLE

In [14]:
# 1b.  Display the first and last name of each actor in a single column in upper case letters. Name the column Actor Name
query = session.query(Actor.first_name, Actor.last_name).all()

#query
actor_name = [y +  ' ' + z for y, z in query]
last_name = [z for y, z in query]
actor_name = first_name + ' ' + last_name

TypeError: can only concatenate list (not "str") to list